<div class="card">
    <div class="card-body">
        <ul>
            <li>
                <img src="../../../assets/img/user.svg" />
                <h3>{{ user$.fullName }}</h3>
                <p> User ID: <span>{{ user$.id }}</span> </p>
                <p>
                    UserName: <span>{{ user$.userName }}</span>
                </p>
                <p>
                    User Password: <span>{{ user$.password }}</span>
                </p>
                <p>
                    User City: <span>{{ user$.city }}</span>
                </p>
                <p>
                    User Type: <span> {{ user$.type }}</span>
                </p>
            </li>
        </ul>
    </div>
    <div class="card-footer">
        <a class="btn btn-dark" [routerLink]="['/users', { name: user$.fullName }]"
            queryParamsHandling="preserve">Back</a>
        <button class="btn btn-dark pull-right m-2" (click)="viewNextUser()">Next User</button>
    </div>
</div>

<div style="height: 200px">
    <div class="div-style" id="active-user">
        <span class="pull-right m-2">Active</span>
        <span class="span-style pull-right"></span>
    </div>
</div>